* {
  margin: 0;
  padding: 0;
}

.moveable-point {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #bbb;
  opacity: 0.4;
  transform: translate(-50%, -50%);
}

.moveable-point:hover {
  opacity: 1;
}


#loader {
  border: #0004 solid 1px;
  border-radius: 1em;
  padding: 1em;

  margin: 3em auto auto auto;
  min-width: 67%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#loader > select:first-of-type {
  margin-top: 1em;
}