/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
  overflow: hidden;
  background: #333;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/* canvas positioning */
#defaultCanvas0 {
  position: fixed;
  left: 225px;
}

#disableCover {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
}

/* uploadFolder things */
.uploadFolder {
  background: #ddd;
  padding: 1em;
}

#upload { transition: margin-top cubic-bezier(0.5, 0, 0, 1) 0.5s; }

#folderContents {
  padding: 1em;
  background: #f1f1f1;
  overflow-y: scroll;
  max-height: 91.2vh;
}

#folderContents > div {
  padding: 0.7em;
  font-size: 1em;

  overflow: hidden;
	white-space: nowrap;
  text-overflow: ellipsis;

  transition: cubic-bezier(0.5, 0, 0, 1) 0.5s;
}

#folderContents > .valid:hover {
  /* padding: 0.5em;
  font-size: 1.2em; */
  background: #efe;
  text-indent: 80px;
}

#folderContents > .valid > button {
  position: absolute;
  transform: translate(-80px, 0);
  float: right;

  background: rgba(0, 0, 0, 0.2);
  transition: cubic-bezier(0.5, 0, 0, 1) 0.5s;
}
#folderContents > .valid > button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.5);
}

.wrongExtension { background: #fdd; }

.valid { background: #dfd; }
.invalid { background: #fdf; }

/* SongAudio mp3 display at bottom */
#SongAudio {
  display: block !important;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* SideMenu */
#sidecontainer {
  position: fixed;
  margin: 0;
  width: 225px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
#sidemenu {
  position: fixed;
  width: 215px;
  bottom: 225px;
  opacity: 0.8;
  transform: translateX(-100px);
  transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
}
#sidemenu:hover {
  opacity: 0.9;
  transform: translateX(-85px);
}
#sidemenu > div {
  margin: 5px 0 5px 0;
  padding: 10px 10px 10px 0;
  border: white 2px outset;
  border-radius: 5px;
  width: 100%;
  font-size: 28px;
  text-align: right;

  opacity: 0.4;
  background: white;
  transform: translateX(-5%) scaleX(0.8);
  transition: all 0.5s cubic-bezier(0.5, 0, 0, 1), border 1ms;
}
#sidemenu > .selected {
  border: white 2px inset;
  /* font-size: 30px; */

  opacity: 1.0 !important;
  background: rgba(255, 255, 255, 0.7);
  transform: translateX(0) scaleX(1);
}
#sidemenu > div:hover {
  opacity: 0.6;
  background: rgba(240, 245, 255, 0.67);
  transform: translateX(0) scaleX(1);
}
